@import "../../variables";

.info_image{
    width: 70%;
    // align-items: center;
}


.jumbotron{
    margin: 0 auto 2rem auto;
    min-height: 32vh;
    width: 94%;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 86%;
      }

    h1{
        font-weight: 600;
    }
}

.jumbotron_paragraph{
    width: 100%;
    font-size: 1.4rem;

    @media screen and (min-width: 768px) {
        width: 60%;
      }
}