@import "../../variables";

.dicussion_box {
  box-sizing: border-box;
  background-color: $gray-light;
  border-bottom: 1px solid $gray-light-border;
}

.discussion_box_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(231, 231, 231);
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 992px) {
    width: 90px;
    height: 90px;
  }

  &:hover{
    opacity: 0.95;
  }
}

.discussion_form_container {
  width: 80%;
  margin: 1.5rem auto;
}

.discussion_detail_container{
  width: 94%;
  margin: 1rem auto;

  
  @media screen and (min-width: 992px) {
    width: 80%;
  }
}
