.dicussion_box {
  margin: 25px 0;
}

.discussion_box_image {
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(231, 231, 231);
  object-fit: cover;

  @media screen and (min-width: 992px) {
    width: 90px;
    height: 90px;
  }
}

.discussion_form_container {
  width: 80%;
  margin: 1.5rem auto;
}

.discussion_detail_container{
  width: 94%;
  margin: 1rem auto;

  
  @media screen and (min-width: 992px) {
    width: 80%;
  }
}
