@import "../../variables";

.profile_container {
  width: 96%;
  margin: 1rem auto;


  @media screen and (min-width: 992px) {
    width: 70%;
  }
}

.profile_card{
  background-color: #fcfafa;
  border: 1px solid #f3f3f3;

}

.form_container {
  width: 96%;
  margin: 1rem auto;

  @media screen and (min-width: 992px) {
    width: 70%;
  }
}

.interest_box{
  padding: 5px 7px;
  border-radius: 5px;
  background-color: #ade8f4;
  border: 1px solid #a2e5f3;
}

.account_image_main{
 
  border: 1px solid rgb(231, 231, 231);
  width: 170px;
  height: 170px;
  object-fit: cover;
  // border-radius: 60%;
}