@import "../../variables";

.navbar{
  background-color: $gray-light;
  border-bottom: 1px solid $gray-light-border;
}

.logo {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: $logo-font-family;
  color: $fontys-purple;

  &:hover {
    color: $fontys-purple-hover;
    text-decoration: none;
  }
}

.btn_login {
  margin: 0;
  padding: 5px 15px;
  max-width: 95px;
  color: rgb(116, 116, 116);
  font-size: 1.2rem;
  border-radius: 50px;

  &:hover {
    color: rgb(95, 95, 95);
    text-decoration: none;
  }
}

.btn_signup {
  margin: 0;
  padding: 5px 15px;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: $fontys-purple;

  &:hover {
    color: white;
    background-color: $fontys-purple-hover;
    text-decoration: none;
  }
}

.account_icon {
  margin: 0 9px;

  // width: 45px;
  // height: 45px;
  border-radius: 50px;
  border: 1px solid rgb(231, 231, 231);
  object-fit: cover;
}

.dropdown_item {
  &:hover {
    color: rgb(95, 95, 95);
    text-decoration: none;
  }
}
