@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$logo-font-family: "Blackberry Jam","Pacifico", sans-serif;

// $fontys-purple: #663366;
// $fontys-purple-hover: #703970;
$fontys-purple: #8338ec;
$fontys-purple-hover: #7a34db;

$gray-light: #f7f7f7;
$gray-light-border: #f1f1f1;


$gray-image-border:  rgb(231, 231, 231);