@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('//db.onlinewebfonts.com/c/dd41d5205b87e8947531cf2f2ac4d28d?family=Frutiger+Serif');

$logo-font-family: "Pacifico", sans-serif;
// $fontys-font-family: "Frutiger Serif", sans-serif;

// $fontys-purple: #663366;
// $fontys-purple-hover: #703970;
$fontys-purple: #8338ec;
$fontys-purple-hover: #7a34db;

$gray-light: #fafafa;
$gray-light-border: #f3f3f3;


$gray-image-border:  rgb(231, 231, 231);