
.white{
    color: white;
}

.black{
    color: rgb(39, 39, 39);
}

.text-decoration-none{
    text-decoration: none;
}

.dropdown-toggle{
    padding: 10px;

    @media screen and (min-width: 992px	){
        padding: 0px;
    }
}

